.modal--parent {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.521);
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal--content {
  background-color: wheat;
  border: 1px solid black;
  width: 80%;
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1em;
  box-shadow: 0px 0px 10px 0px black;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.order {
  display: flex;
  justify-content: space-between;
}

.orderTableHeaders {
  display: flex;
  justify-content: space-between;
}

.messageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderNumber {
  font-size: 75px;
}

.reviewConfirmationMessage {
  text-align: center;
}

.productReview {
  border-top: solid black 1px;
}